<!-- your html code here -->
<div class="bg-white p-5">
  <h1>Contact</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda explicabo quas perferendis voluptate
    fuga. Eveniet sunt earum repellendus assumenda similique illum quaerat ea aut amet maiores, voluptatibus
    libero omnis incidunt!</p>

    <div class="d-flex justify-content-center">
      <div class="form col-8 p-3 border border-1 bg-light">
        <div class="mb-3 row">
          <label for="inputemail" class="col-sm-2 col-form-label mt-3">Your E-mail</label>

          <div class="col-sm-10">
            <input type="email" class="form-control mt-3" placeholder="your email">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputemail" class="col-sm-2 col-form-label">Your message</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message"
              rows="4"></textarea>
          </div>
        </div>


        <div class="d-flex justify-content-end align-items-flex-end"><button type="button"
            class="btn btn-primary">Submit</button></div>
      </div>
  </div>
</div>