<!-- your html code here -->

<!-- <p>Hello, I'm the first_heading.html</p> -->

<div class="d-flex justify-content-space-between align-items-top bg-white border p-5">

    <div class="col-8">

        <h2>  The first heading <span class="text-secondary">will catch your eye</span></h2>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere sint excepturi ipsa, quas dolores quod hic nobis quidem animi nam quibusdam fugiat nulla tenetur ipsam perspiciatis quos doloribus repellendus unde.</p>

    </div>

    <img src="/website/assets/img/1.jpg"  class="col-4 rounded-circle"
     alt="bold_guy">

</div>