<!-- your html code here -->
<div class="m-5">
    <div>
        <h1>
            Portfolio
        </h1>
        <p class="fs-5 fw-light">
            Donec ullamcorper nulla non metus auctor frinailla. Vestibulum id liaula porta felis euismod semper.
            Praesent commodo cursus
            magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top">
                    <h4 class="text-primary mt-4">Proyect Name</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, deleniti quo
                        dicta aspernatur omnis repellat vero qui!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top">
                    <h4 class="text-primary mt-4">Proyect Name</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, deleniti quo
                        dicta aspernatur omnis repellat vero qui!</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top">
                    <h4 class="text-primary mt-4">Proyect Name</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, deleniti quo
                        dicta aspernatur omnis repellat vero qui!</p>
                </div>
            </div>
        </div>
    </div>

</div>