<div class="d-flex justify-content-space-between align-self-center bg-white border border-top-0 border-bottom-0 p-5 gap-1   ">
    <img src="/website/assets/img/2.jpg" class="col-2 rounded-circle ">
    <div class="col-12">
        <h2>This Heading is <span class="text-secondary">Is Pretty Cool Too.</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus iure modi, <br>voluptatem
            eveniet, dolor nam, voluptates consectetur ut vel
            que praesentium obcaecati aut at.</p>
    </div>
</div>